*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:133px 0px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: flex-end;
  gap: 30px;
}
.result__video-container{
  width:711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video{
  width: 100%;
  object-fit:cover;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.title{
  margin-bottom: 25px;
}

.content__list-container{
  width:100%;
  height:300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list{
  display: flex;
  flex-direction: column;
  gap:30px;
}

.content__video-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.content__video-card-description-container{
  flex-grow:1;
}

.content__video-card-thumbnail {
  width: 194px;
  min-height: 103px;
  object-fit:cover;
  flex-shrink: 0;
  object-position: center;
}