*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:150px 0px 80px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: flex-end;
  gap: 30px;
}

.result__video-container{
  align-self: flex-start;
  width:711px;
  height: 390px;
  margin-bottom: 20px;
  position: relative;
}

.result__video{
  width: 100%;
  object-fit:contain;
  cursor: pointer
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.search-form__fieldset{
  border: none;
}

.search-form__textfield{
  font-family: 'Fira Sans Condensed', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color:#fff;
  border-top: solid 1px #FFFFFF;
  border-bottom: solid 1px #FFFFFF;
  border-left: none;
  border-right: none;
  background-color: inherit;
  appearance: none;
  width: 225px;
}

.search-form__textfield::placeholder{
  color: rgb(255 255 255 / 0.7);
}

.search-form__fieldset:has(:focus-visible) .search-form__label{
  outline: solid 2px #FFFFFF;
}

.search-form__checkbox-list{
  display: flex;
  flex-direction: row;
  gap:15px;
}

.search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  border: solid #fff 1px;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after{
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  opacity: 1;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
}

.search-form__label:has(:focus-visible){
  outline: solid 2px #FFFFFF;
}

.search-form__label{
  display: flex;
  flex-direction: row;
  align-items:center;
  width: fit-content;
  gap:5px;
}

.button{
  border: solid 1px #FFFFFF;
  background-color: inherit;
  font-family: 'Fira Sans Condensed', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-style:normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  height: 34px;
  color: white;
  cursor: pointer
}

.button:hover{
  text-decoration: underline;
}

.button:active{
  background-color: rgba(84, 80, 80, 1);
}

.button:focus-visible{
  outline: solid 1px #fff;
  padding:0 3px;
}

.search-form__submit-button{
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.title{
  margin-bottom: 25px;
  font-family: 'Oswald', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #FFFFFF;

}
.title span {
  color: #545050;
}

.preloader{
  position: absolute;
  top: 0;
  right: 0;
}

.content__list-container{
  width:100%;
  height:300px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list-item{
  cursor: pointer;
}

.content__list{
  display: flex;
  flex-direction: column;
  gap:30px;
}

.content__card-link{
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.content__list-item:active{
  background-color: rgba(84, 80, 80, 1);
}

.content__list-item:hover{
  text-decoration: underline;
}

.content__list-item:focus-visible{
  outline: solid 1px white;
  padding:0 3px;
}

.content__video-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.content__video-card-description-container{
  flex-grow:1;
}

.content__video-card-title{
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Oswald', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description{
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  min-height: 103px;
  object-fit:cover;
  flex-shrink: 0;
  object-position: center;
}

.content__card-link_current{
  background-color: rgba(84, 80, 80, 1);
}

.more-button{
  width: 100%;
  height: 34px; 
  padding: 6px 20px; 
}